<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>
<style>
  li {text-transform: capitalize;}
</style>
<main>
  <div class="jumbotron text-center">
    <style>
      h2 {text-transform: capitalize; padding-bottom: 2%;}
      img {padding-bottom: 2%; max-width: 50vw;}
    </style>
    <h2>
      <%= myDrink.name %> - $<%= myDrink.price %> 
    </h2>
    <img src="<%= myDrink.image %> " alt="<%= myDrink.name %>" class="rounded mx-auto d-block">  
    <a href="/drinks">Back to Drinks Menu</a>
  </div>

</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>