<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>
<style>
  li {text-transform: capitalize;}
</style>
<main>
  <div class="jumbotron text-center">
    <style>
      h2 {text-transform: capitalize; padding-bottom: 2%;}
      img {padding-bottom: 2%;}
    </style>
    <h2>
      <%= myFood.name %> - $<%= myFood.price %> 
    </h2>
    <img src="<%= (myFood.image).replace("jpg", "png") %> " alt="<%= myFood.name %>" class="rounded mx-auto d-block">  
    <a href="/foods">Back to Food Menu</a>
  </div>

</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>